name: mirrorchyan_uploading

on:
  workflow_dispatch:

jobs:

  mirrorchyan:
    runs-on: macos-latest
    steps:
      - uses: MirrorChyan/uploading-action@v1
        with:
          filetype: latest-release
          filename: "MAD-win-x86_64-*.zip"
          mirrorchyan_rid: MadAssistantDuet

          owner: huanshang141
          repo: MadAssistantDuet
          github_token: ${{ secrets.GITHUB_TOKEN }}
          upload_token: ${{ secrets.MirrorChyanUploadToken }}
